<router-outlet></router-outlet>
<block-ui>
  <!-- Your app markup here -->
</block-ui>
<!-- <div class="container" style="margin-top:50px">
<table class="table table-bordered" *ngIf="this.subjectList.length>0">
    <thead>
      <tr>
        <th>Subject ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subject of subjectList;">
        <td>{{subject.subjectID}}</td>
        <td>{{subject.name}}</td>
        <td>{{subject.status}}</td>
        <td><button class="btn btn-warning" (click)="updateSubjectRequest(subject)">Update</button>&nbsp;&nbsp; <button class="btn btn-danger" (click)="deleteSubject(subject)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div> -->
<!-- </form> -->