<form [formGroup]="TodoForm">
  <div style="margin-left: 205px;margin-right: 543px;border:1px solid gray;padding:10px;height: 274px;
  ">
  <h5 style="margin-left: 90px;">Daily Study Routine</h5>
  <div class="container" style="margin-top:10px " >
   
        <div class="row form-group">
                <label class="col-md-3">Subject ID</label>
                <input class="col-md-5 form-control" type="text" formControlName="id">
                <span *ngIf="TodoForm.controls.id.errors?.required && TodoForm.controls.id.touched" style="color:red"><small>&nbsp;&nbsp;ID Is Required </small></span>
              </div>

      <div class="row form-group">
        <label class="col-md-3">Subject</label>
        <input class="col-md-5 form-control" type="text" formControlName="subject">
        <span *ngIf="TodoForm.controls.subject.errors?.required && TodoForm.controls.subject.touched" style="color:red"><small>&nbsp;&nbsp;Subject Is Required </small></span>
      </div>
      <div class="row form-group">
          <label class="col-md-3">Status</label>
          <select formControlName="status">
              <option value="Done">Done</option>
              <option value="Not Done">Not Done</option>
          </select>
      </div>
      <div class="row">
            <a [routerLink] = "'/list'"><button style="margin-left: 20px" class="btn btn-info offset-col-md-1" (click)="updateSubject()">Update</button></a>
        <!-- <button *ngIf="updateFlag" style="margin-left: 20px" class="btn btn-info offset-col-md-1" (click)="updateSubject()">Update</button> -->
        <!-- <a [routerLink] = "'/list'"><button style="margin-left: 20px" class="btn btn-info offset-col-md-1" >List</button></a> -->

      </div>
  
  </div>
  </div>
  </form>